#pic{
	background: url(../images/de/d1.jpg) no-repeat;
	height:100%;
	width:100%;
	color:transparent;
}
#pic1a{
	background: url(../images/de/d1a.jpg) no-repeat;
	height:100%;
	width:100%;
	color:transparent;
}
#pic1b{
	background: url(../images/de/d1b.jpg) no-repeat;
	height:100%;
	width:100%;
	color:transparent;
}
#pic2{
	background: url(../images/de/d2.jpg) no-repeat;
	height:100%;
	width:100%;
	color:transparent;
}
#help1,#help2,#help3,#help4,#help5,#help6,#help6,#help7{
	border:1px solid red;
	background:#ffffff none;
	font-size:16px;
	color:red;
	margin:2px;
	padding:6px;
	z-index:3;
	float:left;
}
#frame1,#frame2,#frame3,#frame4,#frame5,#frame6,#frame7{
  background:transparent;
  border:2px dotted red;
  z-index:2;
}
#frame1{
	position:absolute;
	top:100px;
	left:25px;
	height:370px;
	width:420px;
}
#help1{
	position:absolute;
	top:258px;
	left:390px;
	height:100px;
	width:250px;
}
#frame2{
	position:absolute;
	top:470px;
	left:30px;
	height:20px;
	width:420px;
}
#help2{
	position:absolute;
	top:350px;
	left:450px;
	height:100px;
	width:250px;
}
#frame3{
	position:absolute;
	top:485px;
	left:30px;
	height:25px;
	width:420px;
}
#help3{
	position:absolute;
	top:400px;
	left:450px;
	height:100px;
	width:300px;
}
#frame4{
	position:absolute;
	top:515px;
	left:30px;
	height:350px;
	width:420px;
}
#help4{
	position:absolute;
	top:500px;
	left:450px;
	height:100px;
	width:300px;
}
#frame5{
	position:absolute;
	top:515px;
	left:30px;
	height:350px;
	width:420px;
}
#help5{
	position:absolute;
	top:458px;
	left:450px;
	height:100px;
	width:300px;
}
#frame6{
	position:absolute;
	top:865px;
	left:20px;
	height:40px;
	width:150px;
}
#help6{
	position:absolute;
	top:650px;
	left:350px;
	height:100px;
	width:300px;
}
#frame7{
	position:absolute;
	top:100px;
	left:450px;
	height:40px;
	width:640px;
}
#help7{
	position:absolute;
	top:458px;
	left:350px;
	height:100px;
	width:300px;
}
