#myTabs { border:none; width:100%; height:100%;background:#c0c0c0 none; padding:5px; }
.ui-widget-header { border:0; background:#c0c0c0 none; font-family:Georgia; }
#myTabs .ui-widget-content { border:1px solid #aaaaaa; background:#ffffff none; height:80%;width:100%; }
.ui-state-default, .ui-widget-content .ui-state-default { background:#a2a2a2 none; border:1px solid #636363; }
.ui-state-active, .ui-widget-content .ui-state-active { background:#ffffff none; border:1px solid #aaaaaa; }
