﻿/* CSS Framework by Erlang, 2009 */
/* General Cleaning */
* {
	margin:0;
	padding:0;
	font-family:Verdana, Arial, Helvetica, Sans-Serif;
	}
html, body {
	height:100%;
	}
input {
	padding:2px 4px;
	}
body, p, div, table, td, th, input, option, select, button, li, a {
	font-size:9px;
	}
body {
	background-color:#fff;
	}
table, img {
	border:0;
	}
table {
	border-collapse:collapse;
	}
table td {
	padding:0px;
	vertical-align:top;
	}
div {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}
a, a:link, a:visited, a:active {
	color:#00f;
	}
a:hover {
	color:#f00;
	}
:focus {
	outline:none;
	}
label {
	cursor:pointer;
	}
ul, ol {
	padding:2px 0;
	}
li{
	line-height:1.5;
	margin-left:17px;
}
/* Special Elements */
body{
	background-color: #c0c0c0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:Black;
}
h1, h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
	color: black;
	text-transform: uppercase;
}
h1 {
	font-size: 21px;
	letter-spacing: 0px;
	background-color: transparent;
	color: black;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
h2 {
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: bold;
}
/* Links */
a{
	color: Blue;
	font-size:12px;
	background-color: transparent;
	text-decoration: none;
}
a:hover{
	color: Red;
	font-size:13px;
	background-color: transparent;
	text-decoration: none;
}
a:visited{
	color: Blue;
	font-size:13px;
	background-color: transparent;
	text-decoration: none;
}
a:link{
	color: Blue;
	font-size:13px;
	background-color: transparent;
	text-decoration: none;
}
a.b{
	color: 	#8b2323;
	font-size:13px;
	background-color: transparent;
	text-decoration: none;
}
a.b:hover{
	color: #8b3a3a;
	font-size:13px;
	background-color: transparent;
	text-decoration: underline;
	cursor:pointer;
}
a.b:visited{
	color:	#8b2323;
	font-size:13px;
	background-color: transparent;
	text-decoration: none;
}
a.b:link{
	color: 	#8b2323;
	font-size:13px;
	background-color: transparent;
	text-decoration: none;
}
/* Lines */
#up{
	position:absolute;
	top:0px;
	left:-1px;
	height:37px;
	width:100%;
	padding:0;
	margin:0;
	z-index:1;
}
#mid{
	position:absolute;
	top:38px;
	left:0px;
	height:800px;
	width:100%;
	padding:0;
	margin:0;
	z-index: 1;
}
#bot{
	position:absolute;
	top:839px;
	left:-1px;
	height:30px;
	width:100%;
	padding:0;
	margin:0;
	z-index: 1;
	font-size:12px;
}	
/* Visual */
#leftcontent{
	/*background: url(./../image/menu_in.gif) no-repeat;*/
	position:absolute;
	top:-1px;
	left:0px;
	padding:5px;
	margin:0;
	width:440px;
	height:800px;
	float: left;
	z-index: 2;
	/*border:white solid thin;*/
}
#rightcontent{
	position:absolute;
	top:0px;
	left:443px;
	padding:0;
	margin:0;
	width:640px;
	height:100%;
	float: left;
	z-index: 2;
	/*border:white solid thin;*/
}
#centercontent{
	position:absolute;
	top:0px;
	left:255px;
	padding:0;
	margin:0;
	width:900px;
	height:100%;
	float: left;
	z-index: 3;
	font-size:20px;
	/*border:white solid thin;*/
}
/* inputs  */

/*  */
.blockwhite{
   border:thin black solid;
   background-color:white;
   cursor:text;
   margin:2px;
   padding:3px;
}
/* language */

img.lng{
	cursor:pointer;
}
.langbar{
	top:0px;
  	left:0px;
 	padding:1px;
 	margin:0;
	width:200px;
	height:30px;
  	border:none;
  	font-family:  'Droid Sans', sans-serif;
  	background-color: transparent;
  	color: white;
  	vertical-align:top;
	cursor:pointer;
}
/*Line menu */
.menu{
   padding:0;
   margin:0;
   color:blue;
   width:200px;
   height:28px;
   float: left;
   z-index: 3;
   font-size:15px;
   font-weight:bold;
   border:0px;
   cursor:pointer;
}
.menu:hover{
   padding:0;
   margin:0;
   color:red;
   width:200px;
   height:28px;
   float: left;
   z-index: 3;
   font-size:15px;
   font-weight:bold;
   border:0px;
   cursor:pointer;
}
/* bloki */
#b_text{
   font-size:18px;
   color:brown;
}
/* errors */
#error{
	background-color:yellow;
	padding:5px;
   margin:5px;
   font-size:18px;
   color:red;
   border:double thin red;
}

/* form */
#form0{
 	padding:0;
   margin:0;
   font-size:13px;
   font-weight:bold;
}
.named{
	margin:1px;
	padding:2px;
	width: 20em;
	height: 1em;
	font-size:0.9em;
   font-weight:bold;
	border:solid thin black;
}
#inputkommand{
 

}
.area{
 	font-family:Verdana, Arial, Helvetica, sans-serif;
 	background: url(../images/lines.jpg) repeat;
	float:right;
 	font-weight:bold;
 	font-size:18px;
 	margin:0px;
 	padding:0px;
	padding-top:1px;
	padding-bottom:1px;
 	line-height: 22px;
 	border:solid thin black;
	text-align:right;
	width:100%;
	height:100%;
	overflow:scroll;
	margin-top:10px;
}
/* selected in red board */
img.k{
	position:relative;
	margin-top:1px;
	margin-left:0px;
	margin-right:1px;
	margin-bottom:1px;
	padding:2px;
	width:20px;
	float:left;
	
}
.selecteds{
	margin:1px;
 	padding:1px;
 	padding-left:1px;
 	padding-right:1px;
 	padding-top:2px;
 	border:dotted thin red;
 	font-size:11px;
 	font-weight:bold;
}
.selected2{
	margin:1px;
 	padding:1px;
 	padding-top:2px;
	border:dotted thin black;
	height: 1em;
}
.selected2:hover{
	cursor:pointer;
}
/* Table keys*/
.keys{
  background-color:#ffdead;
  padding:2px;
   margin:2px;
   color:#436eee;
   width:420px;
   font-size:16px;
   border:solid thin black;
}
.append{
	background-color:white;

	width:180px;
	font-size:12px;
	border:solid thin black;
	padding-top: 5px;
	padding-bottom: 4px;
	
}
.append:hover{
	background-color:	#ffdead;
}
/* Help */
#helper{
	background-color:white;
	padding:0;
   margin:0;
 	border:dotted thin blue;
 	color:black;
 	font-size:15px;
 	font-weight:bold;
}
/* hidden */
.hidden { visibility: hidden; }
.unhidden { visibility: visible; }
