/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: FreeSans;
    src: url('../include/FreeSans.otf');
    font-weight:300;
}
/* Special Elements */body{
    background-color: #c0c0c0;
    font-family:'FreeSans',Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:Black;
}
h1, h2 {
    font-family: 'FreeSans',Verdana, Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: black;
    text-transform: uppercase;
}
h1 {
    font-size: 21px;
    letter-spacing: 0px;
    background-color: transparent;
    color: black;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
}
h2 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}
/* Links */a{
    color: Blue;
    font-size:12px;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: Red;
    font-size:13px;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: Blue;
    font-size:13px;
    background-color: transparent;
    text-decoration: none;
}
a:link{
    color: Blue;
    font-size:13px;
    background-color: transparent;
    text-decoration: none;
}
a.b{
    color: 	#8b2323;
    font-size:13px;
    background-color: transparent;
    text-decoration: none;
}
a.b:hover{
    color: #8b3a3a;
    font-size:13px;
    background-color: transparent;
    text-decoration: underline;
    cursor:pointer;
}
a.b:visited{
    color:	#8b2323;
    font-size:13px;
    background-color: transparent;
    text-decoration: none;
}
a.b:link{
    color: 	#8b2323;
    font-size:13px;
    background-color: transparent;
    text-decoration: none;
}
/* Lines */#wrap {
    min-height: 100%;
} 
#header{
    margin: 5px auto;
    min-width: 980px;
    width: 980px;
}
#main {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #8A8284;
    font-family: 'FreeSans',Verdana,Arial,FreeSans,sans;
    font-size: 1em;
    margin: 0 auto;
    min-width: 980px;
    padding: 0 0 20px 0;
    position: relative;
    width: 980px;
    overflow:auto;

}  
#footer {
    position: relative;
    margin: -20px auto; 
    height: 20px;
    min-width: 980px;
    width: 980px;
    text-align:center;
    clear:both;
    padding:2px;
}
/* Visual */#leftcontent{
    float:left;
    width:50%;
    padding:5px;
    margin:0;
    height:100%;

}
#rightcontent{
    float:left;
    width:50%;
    padding:0;
    margin:0;
    height:100%;
}
#centercontent{

    padding:0;
    margin:0;
    width:900px;
    height:100%;
    float: left;
    z-index: 3;
    font-size:20px;
    /*border:white solid thin;*/
}
.clear{
    clear:both;
    margin:0;
    padding:0;
}
.blockwhite{
    border:thin black solid;
    background-color:white;
    cursor:text;
    margin:2px;
    padding:3px;
}
/* language */
#langbar{
    top:0px;
    left:3px;
    padding:1px 2px;
    margin:0 0 0 2px;
    width:51%;
    height:20px;
    border:none;
    font-family:  'FreeSans', sans-serif;
    background-color: transparent;
    vertical-align:top;
    cursor:pointer;
}
#langbar div.lng{
    cursor:pointer;
    margin: 5px 5px 10px 2px;
    border: none;
    float:left;
}
#langbar div.tools{
    margin: 0;
    border: none;
    float:right;
}

/*Line menu */.menu{
    padding:0;
    margin:0;
    color:blue;
    width:200px;
    height:28px;
    float: left;
    z-index: 3;
    font-size:15px;
    font-weight:bold;
    border:0px;
    cursor:pointer;
}
.menu:hover{
    padding:0;
    margin:0;
    color:red;
    width:200px;
    height:28px;
    float: left;
    z-index: 3;
    font-size:15px;
    font-weight:bold;
    border:0px;
    cursor:pointer;
}
/* bloki */#b_text{
    font-size:18px;
    color:brown;
}
/* errors */#error{
    background-color:yellow;
    padding:5px;
    margin:5px;
    font-size:18px;
    color:red;
    border:double thin red;
}

/* form */#form0{
    padding:0;
    margin:0;
    font-size:13px;
    font-weight:bold;
}
.named{
    margin:1px;
    padding:2px;
    width: 20em;
    height: 1em;
    font-size:0.9em;
    font-weight:bold;
    border:solid thin black;
}
#top_form{
    margin:5px 0 1px 0;
    padding:0px;
    height:27px;
    vertical-align:middle;
    text-align:left;
}
#top_form .chart_name{
    float:left;
    margin:1px 0 1px 0;
    font-size:20px;
    font-weight:bold;
}
#top_form input[type=text]{
    float:right;
    width:270px;
    height:22px;
    line-height: 22px;
    font-size:16px;
    margin:5px 10% 0 0;

}
#middle_form{
    margin:10px 0 2px 0;
    padding:0px;
    height:100%;
    width:100%;
}
#middle_form #scroll {
    float:left;
    padding:0px;

    border:solid thin black;

    width:90%;
    height:400px;
    max-width:90%;
    max-height:400px;
    overflow:hidden;
}
#middle_form  #scroll #draggable{
    font-family:'FreeSans',Verdana, Arial, Helvetica, sans-serif;
    width:2000px;
    height:2000px;
    display:none;
}

#middle_form  #scroll #draggable.selectedarea{
    cursor:move;
}

#middle_form  #scroll .area{
    position:absolute;
    top:22px;
    left:22px;
    background: url('../images/lines.jpg') repeat;
    font-weight:bold;
    font-size:18px;
    margin:0;
    padding:0;
    line-height: 1.22;
    text-align:left;
    width:2000px;
    height:2000px;
    border:thin solid #000;
}


#middle_form #scroll #top_x_axis{
    width:2000px;
    height:22px;
    border-top:thin solid #f00;
    position:absolute;
    top:0px;
    left:-1px;
    margin:0;
    padding:0;
}
#middle_form #scroll #top_x_axis div{
    float:left;
    font-size:10px;
    font-weight:normal;
    line-height:22px;
    border-right:thin solid #f00;
    text-align:center;
    width:24px;
    height:22px;
    margin:0;
    padding:0;
}
#middle_form #scroll #top_y_axis{
    width:22px;
    height:2000px;
    border-left:thin solid #f00;
    position:absolute;
    top:2px;
    left:0px;
    margin:0;
    padding:0;
}

#middle_form #scroll #top_y_axis div{
    float:left;
    font-size:10px;
    font-weight:normal;
    line-height:22px;
    border-bottom:thin solid #f00;
    text-align:center;
    width:22px;
    height:22px;
}

#middle_form .area .area_block{
    float:left;
    border-right:solid thin black;
    border-bottom:solid thin black;
    text-align:left;
    vertical-align:top;
    width:24px;
    height:24px;
    margin:-1px 0;
    padding:0px;
}
#middle_form .right_columns{
    float:right;
    position:relative;
    top:5px;
    left:-1px;
    width:8%;
    height:70px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
}
#middle_form .right_columns_plus,.right_columns_minus{
    float:left;
    margin:0 0 0 2px;
    padding:0;
    font-weight:normal;
    width:20px;
    height:20px;
}
#middle_form .right_columns_plus img,.right_columns_minus img{
    margin:0 ;
    padding:0;
    width:20px;
    height:20px;
    border:none;
}
#middle_form .right_columns_plus:hover,.right_columns_minus:hover{
    cursor:pointer;
    font-weight:bold;
}
#middle_form .bottom_rows{
    float:right;
    position:relative;
    top:270px;
    left:-1px;
    width:8%;
    height:70px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
}
#middle_form .bottom_rows_plus,.bottom_rows_minus{
    float:left;
    margin:0 0 0 2px;
    padding:0;
    font-weight:normal;
    width:20px;
    height:20px;
}
#middle_form .bottom_rows_plus img,.bottom_rows_minus img{
    margin:0 ;
    padding:0;
    width:20px;
    height:20px;
    border:none;
}
#middle_form .bottom_rows_plus:hover,.bottom_rows_minus:hover{
    cursor:pointer;
    font-weight:bold;
}
#middle_form input[type=text]{
    width:40px;
    height:20px;
    line-height:20px;
    font-size:12px;
    margin:2px 1px 0 1px;
    padding:1px;
}
#middle_form .area .area_block:hover{
    cursor:crosshair;
}
#bottom_form{
    margin:0;
    padding:0;
    width:100%;
}
#bottom_form .selected2{
    float:left;
    margin:1px;
    padding:2px 1px;
    border:dotted thin black;
    font-size:16px;
    height: 25px;
}
#bottom_form .selected2:hover{
    cursor:pointer;
}
#inputkommand{}
#sure_text_column,#sure_text_row,#sure_text_clear{
    display:none;
    margin:0;
    padding:0;
}
.block_select,#select_sample{
    display:none;
}
/* selected in red board */
img.k{
    position:relative;
    margin-top:1px;
    margin-left:0px;
    margin-right:1px;
    margin-bottom:1px;
    padding:2px;
    width:20px;
    float:left;

}
.selecteds{
    margin:1px;
    padding:1px;
    padding-left:1px;
    padding-right:1px;
    padding-top:2px;
    border:dotted thin red;
    font-size:11px;
    font-weight:bold;
}

/* Table keys*/
.keys{
    background-color:#f0f0f0;
    padding:0;
    margin:2px;
    color:#436eee;
    width:100%;
    font-size:18px;
    text-align:center;
    vertical-align:middle;
}
.keys .boxer {
   display: table;
   border-collapse: collapse;
}
 
.keys .boxer .box-row {
   display: table-row;
}
 
.keys .boxer .box {
   display: table-cell;
   text-align: left;
   vertical-align: top;
   width:32%;
   height:50px;
   padding:15px;
}
.keys .boxer .border {
    border:solid thin black;
}
.keys .full{
   text-align: left;
   vertical-align: top;
   width:100%;
   height:50px;
   padding:15px;
}
.keys .medium{
    font-size:14px;
}
.append{
    background-color:white;
    width:33%;
    font-size:12px;
    

}
.append:hover{
    background-color:	#ffdead;
    cursor:pointer;
}
/* Help */#helper{
    background-color:white;
    padding:0;
    margin:0;
    border:dotted thin blue;
    color:black;
    font-size:15px;
    font-weight:bold;
}
/* hidden */.hidden { visibility: hidden; }
.unhidden { visibility: visible; }
/* help */#idhelp{
    position:relative;
    top:4px;
    left:650px;
    padding:1px;
    margin:0;
    width:80%;
    height:40px;
    border:none;
    background-color: transparent;
    color: white;
    vertical-align:top;
    cursor:pointer;
    float:right;
}
#showhelp, #downloadsource, #resetimage, #printimage, #downloadimage, #emptyblock,#createpdf,#loader_block{
    border:none;
    margin:0 10px 0 0;
    padding:0;
    width:28px;
    height:28px;    
    float:right;
    cursor:pointer;
}
#downloadsource, #resetimage, #printimage, #downloadimage, #emptyblock,#createpdf,#loader_block{
    display:none;
}
.footer .copyright{
    margin:20px 0;
    vertical-align:middle;
    text-align: center;
    width:100%;
    height:60px;
}
.footer .copyright a{
    font-size:11px;
    text-decoration:underline;
}
#control_icons{
    height:35px;
    max-height:35px;
    margin:2px;
    padding:2px;
    width:100%;
}
#control_icons div{
    float:right;
}
.highslide span {
	display: block;
}
.highslide-wrapper, .highslide-outline {
	background: #FFFFFF;
}
.highslide img {
	border: 1px solid #D0D0D0;
}
.highslide:hover img {
	border-color: #A0A0A0;
}
.highslide-image {
	border: 2px solid #FFFFFF;
}
.highslide-loading {
	color: black;
	border: 1px solid black;
	background-color: white;
	background-image: url(../highslide/graphics/loader.white.gif);
}

.highslide-html {
	background: none;
}
.highslide-header ul a {
	background-image: url(../highslide/graphics/controlbar-text-buttons.png);
	padding-left: 16px;
}
.highslide-header .highslide-move a {
	background-position: 0 -281px;
}
.highslide-header .highslide-close a {
	background-position: 0 -221px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 150px)
and (max-device-width : 320px) {
    /* Styles */
    .header {
        height: 72px;
        min-height: 72px;
    }
    h2{
        font-size:1em;
    }
    h3{
        font-size:0.5em;
    }
    h4{
        font-size:0.3em;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
    .header {
        height: 152px;
        min-height: 152px;
    }
    .header div{
        height: 152px;
        min-height: 152px;
    }
    .vcenter {
        padding-top: 5px;
    }
    h2{
        font-size:1em;
    }
    h3{
        font-size:0.5em;
    }
    h4{
        font-size:0.2em;
    }
    .box {
        width: 40%;
    }
    .what-i-do .boxes{
        padding-left:1%;
    }
    #langbar div.lng{
        margin: 5px 10px 15px 2px;
    }
    #scroll{
        margin-top: 10px;
    }
}



/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 480px)
and (max-height : 320px) {

    /* Styles */
    .header {
        height: 152px;
        min-height: 152px;
    }
    .header div{
        height: 152px;
        min-height: 152px;
    }
    .vcenter {
        padding-top: 20px;
    }
    .box {
        width: 40%;
    }
    .what-i-do .boxes{
        padding-left:1%;
    }
    #langbar div.lng{
        margin: 5px 10px 15px 2px;
    }
    #scroll{
        margin-top: 10px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (min-width : 320px)
and (max-height : 480px) {

    /* Styles */
    .header {
        height: 152px;
        min-height: 152px;
    }
    .header div{
        height: 152px;
        min-height: 152px;
    }
    .vcenter {
        padding-top: 20px;
    }
    .box {
        width: 40%;
    }
    .what-i-do .boxes{
        padding-left:1%;
    }
    #langbar div.lng{
        margin: 5px 10px 15px 2px;
    }
    #scroll{
        margin-top: 10px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 480px)
and (max-device-width : 640px) {
    /* Styles */
    .header {
        height: 202px;
        min-height: 202px;
    }
    .header div{
        height: 202px;
        min-height: 202px;
    }
    .vcenter {
        padding-top: 15px;
    }
    h2{
        font-size:1em;
    }
    h3{
        font-size:0.5em;
    }
    h4{
        font-size:0.2em;
    }
    .box {
        width: 47%;
    }
}


/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 640px)
and (min-height : 480px) {

    /* Styles */
    .header {
        height: 202px;
        min-height: 202px;
    }
    .header div{
        height: 202px;
        min-height: 202px;
    }
    .vcenter {
        padding-top: 15px;
    }
    .box {
        width: 47%;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 480px)
and (max-height : 640px) {

    /* Styles */
    .header {
        height: 202px;
        min-height: 202px;
    }
    .header div{
        height: 202px;
        min-height: 202px;
    }
    .vcenter {
        padding-top: 15px;
    }
    .box {
        width: 47%;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
    .header {
        height: 222px;
        min-height: 222px;
    }
    .header div{
        height: 222px;
        min-height: 222px;
    }
    .vcenter {
        padding-top: 5px;
    }
    .box {
        width: 48%;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
    .header {
        height: 222px;
        min-height: 222px;
    }
    .header div{
        height: 222px;
        min-height: 222px;
    }
    .vcenter {
        padding-top: 10px;
    }
    .box {
        width: 48%;
    }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* Styles */
    .vcenter {
        padding-top: 10%;
    }
    .box {
        width: 48%;
    }
}

/* The New iPad (iPad 3) ----------- */
@media only screen
and (min-device-width: 1536px)
and (max-device-width: 2048px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
    .vcenter {
        padding-top: 10%;
    }
    .box {
        width: 48%;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
    .header {
        height: 82px;
        min-height: 82px;
    }
    .header div{
        height: 82px;
        min-height: 82px;
    }
    .vcenter {
        padding-top: 10px;
    }
    .box {
        width: 45%;
    }
}




/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 800px)
and (max-width : 1400px) {
    /* Styles */
    .header {
        height: 302px;
        min-height: 302px;
    }
    .header div{
        height: 302px;
        min-height: 302px;
    }
    .vcenter {
        padding-top: 50px;
    }
}

@media only screen
and (min-device-width : 800px)
and (max-device-width : 1400px) {
    /* Styles */
    .header {
        height: 302px;
        min-height: 302px;
    }
    .header div{
        height: 302px;
        min-height: 302px;
    }
    .vcenter {
        padding-top: 10%;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 800px)
and (max-device-width : 1400px)
and (orientation : landscape) {
    /* Styles */
    .header {
        height: 302px;
        min-height: 302px;
    }
    .header div{
        height: 302px;
        min-height: 302px;
    }
    .vcenter {
        padding-top: 10%;
    }
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


