/* CSS Framework by Erlang, 2009 */
/* General Cleaning */
* {
	margin:0;
	padding:0;
	font-family:Verdana, Arial, Helvetica, Sans-Serif;
	}
html, body {
	height:100%;
	}
input {
	padding:2px 4px;
	}
body, p, div, table, td, th, input, option, select, button, li, a {
	font-size:9px;
	}
body {
	background-color:#fff;
	}
table, img {
	border:0;
	}
table {
	border-collapse:collapse;
	}
table td {
	padding:0px;
	vertical-align:top;
	}
div {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}
a, a:link, a:visited, a:active {
	color:#00f;
	}
a:hover {
	color:#f00;
	}
:focus {
	outline:none;
	}
label {
	cursor:pointer;
	}
ul, ol {
	padding:2px 0;
	}
li{
	line-height:1.5;
	margin-left:17px;
}
@font-face {
    font-family: FreeSans;
    src: url('../include/FreeSans.otf');
    font-weight:300;
}
/* Special Elements */body{
	background-color: #c0c0c0;
	font-family:'FreeSans',Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:Black;
}
h1, h2 {
	font-family: 'FreeSans',Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
	color: black;
	text-transform: uppercase;
}
h1 {
	font-size: 21px;
	letter-spacing: 0px;
	background-color: transparent;
	color: black;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
h2 {
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: bold;
}
/* Links */a{
	color: Blue;
	font-size:12px;
	background-color: transparent;
	text-decoration: none;
}
a:hover{
	color: Red;
	font-size:13px;
	background-color: transparent;
	text-decoration: none;
}
a:visited{
	color: Blue;
	font-size:13px;
	background-color: transparent;
	text-decoration: none;
}
a:link{
	color: Blue;
	font-size:13px;
	background-color: transparent;
	text-decoration: none;
}
a.b{
	color: 	#8b2323;
	font-size:13px;
	background-color: transparent;
	text-decoration: none;
}
a.b:hover{
	color: #8b3a3a;
	font-size:13px;
	background-color: transparent;
	text-decoration: underline;
	cursor:pointer;
}
a.b:visited{
	color:	#8b2323;
	font-size:13px;
	background-color: transparent;
	text-decoration: none;
}
a.b:link{
	color: 	#8b2323;
	font-size:13px;
	background-color: transparent;
	text-decoration: none;
}
/* Lines */#wrap {
    min-height: 100%;
} 
#header{
    margin: 5px auto;
    min-width: 980px;
    width: 980px;
}
#main {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #8A8284;
    font-family: 'FreeSans',Verdana,Arial,FreeSans,sans;
    font-size: 1em;
    margin: 0 auto;
    min-width: 980px;
    padding: 0 0 20px 0;
    position: relative;
    width: 980px;
    overflow:auto;
    
}  
#footer {
    position: relative;
    margin: -20px auto; 
    height: 20px;
    min-width: 980px;
    width: 980px;
    text-align:center;
    clear:both;
    padding:2px;
}
/* Visual */#leftcontent{
	float:left;
	width:50%;
	padding:5px;
	margin:0;
	height:100%;
	
}
#rightcontent{
	float:left;
        width:50%;
	padding:0;
	margin:0;
        height:100%;
}
#centercontent{
	
	padding:0;
	margin:0;
	width:900px;
	height:100%;
	float: left;
	z-index: 3;
	font-size:20px;
	/*border:white solid thin;*/
}
.clear{
    clear:both;
    margin:0;
    padding:0;
}
.blockwhite{
   border:thin black solid;
   background-color:white;
   cursor:text;
   margin:2px;
   padding:3px;
}
/* language */img.lng{
	cursor:pointer;
}
.langbar{
	top:0px;
  	left:3px;
 	padding:1px;
 	margin:0;
	padding-left:2px;
	margin-left:2px;
	width:80%;
	height:30px;
  	border:none;
  	font-family:  'FreeSans', sans-serif;
  	background-color: transparent;
  	color: white;
  	vertical-align:top;
	cursor:pointer;
}
/*Line menu */.menu{
   padding:0;
   margin:0;
   color:blue;
   width:200px;
   height:28px;
   float: left;
   z-index: 3;
   font-size:15px;
   font-weight:bold;
   border:0px;
   cursor:pointer;
}
.menu:hover{
   padding:0;
   margin:0;
   color:red;
   width:200px;
   height:28px;
   float: left;
   z-index: 3;
   font-size:15px;
   font-weight:bold;
   border:0px;
   cursor:pointer;
}
/* bloki */#b_text{
   font-size:18px;
   color:brown;
}
/* errors */#error{
	background-color:yellow;
	padding:5px;
   margin:5px;
   font-size:18px;
   color:red;
   border:double thin red;
}

/* form */#form0{
 	padding:0;
   margin:0;
   font-size:13px;
   font-weight:bold;
}
.named{
	margin:1px;
	padding:2px;
	width: 20em;
	height: 1em;
	font-size:0.9em;
   font-weight:bold;
	border:solid thin black;
}
#top_form{
    margin:5px 0 1px 0;
    padding:0px;
    height:27px;
    vertical-align:middle;
    text-align:left;
}
#top_form .chart_name{
    float:left;
    margin:1px 0 1px 0;
    font-size:20px;
    font-weight:bold;
}
#top_form input[type=text]{
    float:right;
    width:270px;
    height:22px;
    font-size:16px;
    margin:0 30px 0 0;
}
#middle_form{
    margin:0px;
    padding:0px;
    height:390px;
}
#middle_form #scroll {
 	
        float:left;
 	
 	margin:5px 0px;
 	padding:0px;
 	
 	border:solid thin black;
	
	width:450px;
	height:390px;
	overflow:auto;
}
#middle_form  #scroll .area{
 	font-family:'FreeSans',Verdana, Arial, Helvetica, sans-serif;
        background: url('../images/lines.jpg') repeat;
        float:left;
 	font-weight:bold;
 	font-size:18px;
 	margin:0;
 	padding:0;
 	line-height: 1.22;
 	border:none;
	text-align:left;
	width:100%;
	height:100%;
}
#middle_form .area .area_block{
        float:left;
        border-right:solid thin black;
        border-bottom:solid thin black;
        text-align:left;
        vertical-align:top;
        width:24px;
        height:24px;
        margin:-1px 0;
        padding:0px;
}
#middle_form .right_columns{
    float:right;
    position:relative;
    top:5px;
    left:-1px;
    width:30px;
    height:40px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
}
#middle_form .right_columns_plus,.right_columns_minus{
    float:left;
    margin:0 0 0 2px;
    padding:0;
    font-weight:normal;
    width:12px;
    height:12px;
}
#middle_form .right_columns_plus img,.right_columns_minus img{
    margin:0 ;
    padding:0;
    width:10px;
    height:10px;
    border:none;
}
#middle_form .right_columns_plus:hover,.right_columns_minus:hover{
    cursor:pointer;
    font-weight:bold;
}
#middle_form .bottom_rows{
    float:right;
    position:relative;
    top:315px;
    left:-1px;
    width:30px;
    height:40px;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
}
#middle_form .bottom_rows_plus,.bottom_rows_minus{
    float:left;
    margin:0 0 0 2px;
    padding:0;
    font-weight:normal;
    width:12px;
    height:12px;
}
#middle_form .bottom_rows_plus img,.bottom_rows_minus img{
    margin:0 ;
    padding:0;
    width:10px;
    height:10px;
    border:none;
}
#middle_form .bottom_rows_plus:hover,.bottom_rows_minus:hover{
    cursor:pointer;
    font-weight:bold;
}
#middle_form input[type=text]{
    width:28px;
    height:10px;
    font-size:9px;
    margin:0 1px 0 1px;
    padding:1px;
}
#middle_form .area .area_block:hover{
    cursor:crosshair;
}
#bottom_form{
    margin:0px;
    padding:0px;
}
#bottom_form .selected2{
        float:left;
	margin:1px;
 	padding:2px 1px;
	border:dotted thin black;
        font-size:16px;
	height: 25px;
}
#bottom_form .selected2:hover{
	cursor:pointer;
}
#inputkommand{}
#sure_text_column,#sure_text_row,#sure_text_clear{
    display:none;
    margin:0;
    padding:0;
}
.block_select,#select_sample{
    display:none;
}
/* selected in red board */img.k{
	position:relative;
	margin-top:1px;
	margin-left:0px;
	margin-right:1px;
	margin-bottom:1px;
	padding:2px;
	width:20px;
	float:left;
	
}
.selecteds{
	margin:1px;
 	padding:1px;
 	padding-left:1px;
 	padding-right:1px;
 	padding-top:2px;
 	border:dotted thin red;
 	font-size:11px;
 	font-weight:bold;
}

.keys_description,.keys_select{
    width:100%;
    height:100%;
    padding:1px;
    margin:1px;
    border:solid thin black;
}
/* Table keys*/.keys{
  background-color:#f0f0f0;
  padding:0;
  margin:2px 2px 2px 20px;
   color:#436eee;
   width:450px;
   height:395px;
   font-size:18px;
   border:solid thin black;
   text-align:center;
   vertical-align:middle;
}
.keys td{
  padding:0;
  margin:0;
  height:50px;
  text-align:center;
  vertical-align:middle;
}
.keys td.top,td.bottom{
  padding:0;
  margin:0;
  height:20px;
  width:100%;
  font-size:28px;
}
.append{
	background-color:white;
	width:180px;
	font-size:12px;
	border:solid thin black;
	padding-top: 5px;
	padding-bottom: 4px;
	
}
.append:hover{
	background-color:	#ffdead;
        cursor:pointer;
}
/* Help */#helper{
	background-color:white;
	padding:0;
	margin:0;
 	border:dotted thin blue;
 	color:black;
 	font-size:15px;
 	font-weight:bold;
}
/* hidden */.hidden { visibility: hidden; }
.unhidden { visibility: visible; }
/* help */#idhelp{
  position:relative;
  top:4px;
  left:650px;
  padding:1px;
  margin:0;
  width:80%;
  height:40px;
  border:none;
  background-color: transparent;
  color: white;
  vertical-align:top;
  cursor:pointer;
  float:right;
}
#showhelp, #downloadsource, #resetimage, #printimage, #downloadimage, #emptyblock,#createpdf,#loader_block{
    border:none;
    margin:0 10px 0 0;
    padding:0;
    width:28px;
    height:28px;    
    float:right;
    cursor:pointer;
}
#downloadsource, #resetimage, #printimage, #downloadimage, #emptyblock,#createpdf,#loader_block{
    display:none;
}